<nav>
    <ul style="display: flex">
        <li style="padding: 5px 10px; margin-right: 10px">
            <a href="/" style="color: lightseagreen">Home</a>
        </li>
        <li style="padding: 5px 10px; margin-right: 10px">
            <a href="/weather" style="color: lightseagreen">Weather</a>
        </li>
        <li style="padding: 5px 10px; margin-right: 10px">
            <a href="/products" style="color: lightseagreen">Products</a>
        </li>
    </ul>
</nav>
